<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts/new">Create New Post</a></li>
      </ul>
    </nav>
    <section>
      <table border="1">
        <tr>
          <td>
            <h1>Post Title</h1>
          </td>
          <td>
            <h1>Categories</h1>
          </td>
          <td>
            <h1>Date</h1>
          </td>
          <td>
            <h1>Action</h1>
          </td>
        </tr>
        <tr>
          <td>
            <p>Testing</p>
          </td>
          <td>
            <p>hello</p>
          </td>
          <td>
            <p>10 Sept 2015</p>
          </td>x
        <td>
          <ul>
            <li><a href="/posts/:id">View</a></li>
            <li><a href="/posts/:id/edit">Edit</a></li>
          </ul>
        </td>
        </tr>



      </table>

    </section>
    </body>







</html>
