<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts/new">Create New Post</a></li>
          </ul>
        </nav>
        <section>
          <div>
            <h1>Body: </h1>
            <p>Whatever body is here</p>
          </div>
          <div>
            <h3>Categories: </h3>
            <p>Whatever category</p>
          </div>
          <div>
            <h4>Date Created:</h4>
            <p>Date created here</p>
          </div>
          <div>
            <ul>
            <li><a href="/posts/1/edit">Edit</a></li>
            </ul>
          </div>
        </section>
    </body>

</html>
